@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
  --nav-height: 68.81px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat';
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #e76f51;
  color: #ccc;
  padding: 0 1rem;
  height: var(--nav-height);
}

nav * {
  color: #ccc;
}

a {
  text-decoration: none;
  transition: transform 0.2s;
  display: inline-block;
}

a:hover {
  transform: rotate(5deg) scale(1.3);
}

p {
  line-height: 2rem;
  letter-spacing: 0.05rem;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav-links li:not(:last-of-type) {
  margin-right: 1rem;
}

.nav-links li.active {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #264653;
}

@media (max-width: 685px) {
  #navbar .nav {
    display: none;
  }

  #navbar .logo {
    margin: 0 auto;
  }
}

.exercise {
  width: 100%;
  overflow: hidden;
}

.exercise .text {
  margin-left: 1rem;
}

.exercise h1 {
  color: #f1faee;
  letter-spacing: 0.3rem;
}

.exercise .text p {
  color: #e5e5e5;
}

.exercise-1 {
  margin-top: var(--nav-height);
}

.content {
  width: 100%;
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
