#activity1-exercise-1 {
  background-color: #264653;
}

#activity1-exercise-2 {
  background-color: #2a9d8f;
}

#activity1-exercise-3 {
  background-color: #e9c46a;
}

#activity1-exercise-4 {
  background-color: #f4a261;
}

#activity1-content-1 {
  position: relative;
  background-color: #000;
  height: 100vh;
}

#activity1-content-1 .div {
  background-color: #ccc;
  height: 20rem;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#activity1-content-1 .div h1 {
  color: #000;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#activity1-content-2 form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  min-width: 50%;
  margin: 0 1rem;
}

.form-group {
  width: 90%;
  margin: auto;
}

.form-group h1 {
  color: #000;
  margin: 0 !important;
  text-align: center;
}

.form-group:not(:last-of-type) {
  margin-bottom: 2rem;
}

.form-group label {
  display: block;
  margin-bottom: 1rem;
}

.form-group input {
  display: block;
  width: 100%;
  border-radius: 2rem;
  border: 1px solid #ddd;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
  color: #777;
}

::placeholder {
  color: #ddd;
  font-family: 'Montserrat';
}

.form-group button {
  outline: none;
  border-radius: 3rem;
  border: none;
  background-color: #264653;
  color: #fff;
  padding: 1rem 1.4rem;
  font-size: 1.2rem;
  width: 100%;
  cursor: pointer;
  transition: transform 0.2s;
}

.form-group button:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.2);
}

.form-group button:active {
  transform: translateY(0);
  box-shadow: none;
}

.form-group p {
  text-align: center;
  color: #ddd;
}

#exercise-3 .text p a,
#exercise-3 .text p a:visited {
  color: #52796f;
}

#activity1-content-3 h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.card i {
  font-size: 5rem;
}

.italic {
  display: inline-block;
  color: #2a9d8f;
  transition: transform 0.2s;
  cursor: default;
}

.italic:hover {
  transform: rotate(5deg) scale(1.3);
}

@media (max-width: 1030px) {
  .card {
    width: 45%;
  }
}

@media (max-width: 800px) {
  .card {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

#exercise-4 .text p a,
#exercise-4 .text p a:visited {
  color: #52796f;
}

#activity1-content-4 .bg-image {
  background: url('https://source.unsplash.com/fi5FPDZ6tns/4500x3000') no-repeat
    center / cover;
  max-width: 30rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

#activity1-content-4 .bg-image .bg-header {
  font-size: 6rem;
  color: #ffbe0b;
  text-transform: uppercase;
}
