#activity2-exercise-1 {
  background-color: #264653;
}

#activity2-exercise-2 {
  background-color: #2a9d8f;
}

#activity2-exercise-3 {
  background-color: #e9c46a;
}

#activity2-exercise-4 {
  background-color: #f4a261;
}
